body {
    width: 100%;
}
#ipython-main-app {
    float: left;
    width: 40%;
    overflow-y: scroll;
}

#notebook-container {
    width: 95%
}

#geonotebook-panel {
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    width: 55%;
    height: 100%;
}

#geonotebook-map {
    background-color: white;
    height: 100%;
    width: 100%;
}

.container {
    margin-left: 20px;
}

#maintoolbar-container {
    margin-left: 0px;
}
