#ipython-main-app {
    float: left;
    width: 40%;
    overflow-y: scroll;
}

#notebook-container {
    width: calc(100% - 15px);
    margin-left: 15px;
    padding: 0px;
}

#geonotebook-panel {
    padding: 20px;
    float: right;
    width: 60%;
    height: 100%;
}

#geonotebook-map {
    background-color: white;
    height: 100%;
    width: 100%;
}

.container {
    margin-left: 20px;
}

#maintoolbar-container {
    margin-left: 0px;
}
